
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Products</h1>
<br />
@using (Html.BeginForm("Addpro", "Home", FormMethod.Post))
{
    <label>Product Name</label>
    <br />
    <br />
    <input type="text" class="form-control" name="pname" placeholder="Enter Product Name">
    <br />
    <br />

    <select class="custom-select"
            name="ha"required>
        @{
            List<crud1.Models.Catagory> pa = this.ViewBag.ab;
            foreach (crud1.Models.Catagory ab in pa)
            {

                <option value="@ab.Catgory_Id"><bold>cat id= </bold>@ab.Catgory_Id <bold>and cat name= </bold> @ab.CatgoryName</option>



            }


        }
    </select>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

}




