@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        41, 4th floor A-wing, Todi Industrial Estate, Sun Mills Compound Rd, Lower Parel, Mumbai, Maharashtra 400013
       
    </address>

  
</main>