
@{
    ViewBag.Title = "Listof1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listof all element 1</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Catagory id</th>
            <th scope="col">Catagory name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @{
            List<crud1.Models.Catagory> pa = this.ViewBag.ab;
          

            foreach (crud1.Models.Catagory ab in pa)
            {
                
                        <tr>


                            <td>Null</td>
                            <td>Null</td>
                            <td>@ab.Catgory_Id</td>
                            <td>@ab.CatgoryName</td>
                            <td>
                                <a href="@Url.Action("Upcat", "Home", new { @idc = ab.Catgory_Id })"
                                   class="btn btn-primary">Update</a>

                                <a href="@Url.Action("Delcat", "Home", new { @id = ab.Catgory_Id })"
                                   class="btn btn-primary">Delete</a>
                            </td>
                        </tr>

                    
                
            }

        }

        






    </tbody>
</table>