
@{
    ViewBag.Title = "list3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Add Catgory First</h2>

<li>@Html.ActionLink("Add Catagory", "AddCat", "Home", new { area = "" }, new { @class = "nav-link" })</li>
